*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background: silver;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 40px rgb(57, 57, 226);
}
.main{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;align-items: center;
}